## QQ3
Lets dive a little into the math behind the Power Law just a little. Do not freak out if you are a little rusty on the math; remember, this is just a Quick Question - not a Graded Assignment! These are here to stretch you just a little!

OK, in the lesson you learned that very often the frequency of SKU sales follow what is called the 'power law', given by the equation y=a∗xk, where: y is the (cumulative) percentage of items sold, x is the percent of products, and both a and k are constants selected to fit the real data to the power law curve. Consider the example of a store where 5% of the products account for 66.6% of the items sold, and 50% of the products account for 95% of the items sold.

Calculate the values of a and k that would fit a power law curve to these data.

(Relax if your math is a little rusty! We will help you through this. As a hint, remember that ln(axb)=ln(a)+b∗ln(x) where ln is the natural logarithm. In spreadsheets, the function is LN[x], so that LN[50] = 3.912 and since 2∗52=50, we can see that LN[50]=LN[2]+2*LN[5] = 3.912 as well!)

In [37]:
from sympy import Symbol
from sympy.solvers import solve
a = Symbol('a')
k = Symbol('k')
solve([0.666 - a*0.05**k , 0.95 - a*0.5**k], a, k)

[(1.05720034044399, 0.154249376118547)]

## QQ4
0 points possible (ungraded)
Smalltown Bikes, a local retailer of spare parts for bicycles, carries only a dozen different SKUs. Nevertheless, managing their inventory has become complicated and the company has decided to implement an ABC segmentation strategy. The company has asked for your help in segmenting their inventory.

The company has decided to do this segmentation based on the revenue, using 75% of the value as threshold between types A and B, and 95% of the value as threshold between types B and C. In the linked file (W1L1QQ4.xlsx), you will find the information you need regarding the number of parts sold by SmallTown Bikes and their price.

How many SKUs of the dozen carried by Smalltown Bikes fall in the A category?

In [ ]:
import pandas as pd
pd.reset_option('all')

In [31]:
data = pd.read_excel("W1L1QQ4.xlsx", names=['part_number', 'unit_price', 'units_sold'])
data['extended_value'] = data['unit_price'] * data['units_sold']
data.sort_values(by=['extended_value'], ascending=False, inplace=True)
data['extended_value_cum'] = data['extended_value'].cumsum()
data['percentile'] = data['extended_value_cum'] / data['extended_value'].sum()

In [32]:
data

,part_number,unit_price,units_sold,extended_value,extended_value_cum,percentile
8,SKU78216,1144.76,232,265584.32,265584.32,0.338219
4,SKU62086,263.98,510,134629.80,400214.12,0.509669
5,SKU65859,1217.41,87,105914.67,506128.79,0.644550
7,SKU73835,826.79,68,56221.72,562350.51,0.716148
6,SKU72812,444.16,110,48857.60,611208.11,0.778368
3,SKU60496,71.72,546,39159.12,650367.23,0.828236
2,SKU37892,97.08,357,34657.56,685024.79,0.872373
10,SKU86637,57.81,476,27517.56,712542.35,0.907416
11,SKU98190,352.58,77,27148.66,739691.01,0.941989
9,SKU85162,55.89,388,21685.32,761376.33,0.969606
1,SKU15303,62.09,264,16391.76,777768.09,0.990480
0,SKU12896,63.35,118,7475.30,785243.39,1.000000

In [38]:
threshold = 0.75
print('# of Products Account for threshold:', data[data['percentile'] < threshold].shape[0])
data[data['percentile'] < threshold]

# of Products Account for threshold: 4

,part_number,unit_price,units_sold,extended_value,extended_value_cum,percentile
8,SKU78216,1144.76,232,265584.32,265584.32,0.338219
4,SKU62086,263.98,510,134629.80,400214.12,0.509669
5,SKU65859,1217.41,87,105914.67,506128.79,0.644550
7,SKU73835,826.79,68,56221.72,562350.51,0.716148