## QQ3
Lets dive a little into the math behind the Power Law just a little. Do not freak out if you are a little rusty on the math; remember, this is just a Quick Question - not a Graded Assignment! These are here to stretch you just a little!

OK, in the lesson you learned that very often the frequency of SKU sales follow what is called the 'power law', given by the equation y=a∗xk, where: y is the (cumulative) percentage of items sold, x is the percent of products, and both a and k are constants selected to fit the real data to the power law curve. Consider the example of a store where 5% of the products account for 66.6% of the items sold, and 50% of the products account for 95% of the items sold.

Calculate the values of a and k that would fit a power law curve to these data.

(Relax if your math is a little rusty! We will help you through this. As a hint, remember that ln(axb)=ln(a)+b∗ln(x) where ln is the natural logarithm. In spreadsheets, the function is LN[x], so that LN[50] = 3.912 and since 2∗52=50, we can see that LN[50]=LN[2]+2*LN[5] = 3.912 as well!)

In [37]:
from sympy import Symbol
from sympy.solvers import solve
a = Symbol('a')
k = Symbol('k')
solve([0.666 - a*0.05**k , 0.95 - a*0.5**k], a, k)

[(1.05720034044399, 0.154249376118547)]

## QQ4
0 points possible (ungraded)
Smalltown Bikes, a local retailer of spare parts for bicycles, carries only a dozen different SKUs. Nevertheless, managing their inventory has become complicated and the company has decided to implement an ABC segmentation strategy. The company has asked for your help in segmenting their inventory.

The company has decided to do this segmentation based on the revenue, using 75% of the value as threshold between types A and B, and 95% of the value as threshold between types B and C. In the linked file (W1L1QQ4.xlsx), you will find the information you need regarding the number of parts sold by SmallTown Bikes and their price.

How many SKUs of the dozen carried by Smalltown Bikes fall in the A category?

In [15]:
import pandas as pd
pd.reset_option('all')

height has been deprecated.

line_width has been deprecated, use display.width instead (currently both are
identical)

/Users/a59347/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

In [31]:
data = pd.read_excel("W1L1QQ4.xlsx", names=['part_number', 'unit_price', 'units_sold'])
data['extended_value'] = data['unit_price'] * data['units_sold']
data.sort_values(by=['extended_value'], ascending=False, inplace=True)
data['extended_value_cum'] = data['extended_value'].cumsum()
data['percentile'] = data['extended_value_cum'] / data['extended_value'].sum()

In [32]:
data

,part_number,unit_price,units_sold,extended_value,extended_value_cum,percentile
8,SKU78216,1144.76,232,265584.32,265584.32,0.338219
4,SKU62086,263.98,510,134629.80,400214.12,0.509669
5,SKU65859,1217.41,87,105914.67,506128.79,0.644550
7,SKU73835,826.79,68,56221.72,562350.51,0.716148
6,SKU72812,444.16,110,48857.60,611208.11,0.778368
3,SKU60496,71.72,546,39159.12,650367.23,0.828236
2,SKU37892,97.08,357,34657.56,685024.79,0.872373
10,SKU86637,57.81,476,27517.56,712542.35,0.907416
11,SKU98190,352.58,77,27148.66,739691.01,0.941989
9,SKU85162,55.89,388,21685.32,761376.33,0.969606
1,SKU15303,62.09,264,16391.76,777768.09,0.990480
0,SKU12896,63.35,118,7475.30,785243.39,1.000000

In [38]:
threshold = 0.75
print('# of Products Account for threshold:', data[data['percentile'] < threshold].shape[0])
data[data['percentile'] < threshold]

# of Products Account for threshold: 4

,part_number,unit_price,units_sold,extended_value,extended_value_cum,percentile
8,SKU78216,1144.76,232,265584.32,265584.32,0.338219
4,SKU62086,263.98,510,134629.80,400214.12,0.509669
5,SKU65859,1217.41,87,105914.67,506128.79,0.644550
7,SKU73835,826.79,68,56221.72,562350.51,0.716148

## PP1

Practice Problem 1:  Uncertainty in Supply Chains
Suppose that daily demand for bagels at the local coffee shop where you work is found to be Normally distributed with a mean of 250 and a standard deviation of 75 units. 

### Part 1

0 points possible (ungraded)
Suppose you have 350 bagels ready to sell on a certain day. What is the probability that you will run out? That is, what is the probability that the demand is greater than 350 on a certain day? (Enter your solution as a probability between 0 and 1 rather than as a percentage.)

In [9]:
mu = 250
sigma = 75

In [10]:
from scipy.stats import norm

In [11]:
p_instock = norm.cdf(350, loc=mu, scale=sigma)
p_runout = 1 - p_instock
p_runout

0.091211219725867876

The same problem can also be used based on the definition of normal distribution directly. Or we can transform and scale the problem to a standard normal distribution (Z-transform) and then look it up in the table. And I am going to use the lookup table to solve the Part 2.

### Part 2
0 points possible (ungraded)
This is not good enough for you! How many bagels do you need to prepare to have only 5% probability of running out?

[Standard Normal Distribution](https://en.wikipedia.org/wiki/Standard_normal_table)

The probabilities listed are only the area between the mean (0) and value of Z. Since we will be looking at the right hand side of the distribution. We need to lookup the Z value which maps to a probability of (0.95 - 0.5) = 0.45. By looking at the cumulative table, we can easily identify that Z falls between 1.64 (0.44950), 1.65 (0.45053). 

$$Z = \frac{x - \mu}{\sigma}$$

$$x = Z * \sigma + \mu = 1.65 * 75 + 250 = 373$$

This is how you do that using [scipy.stats.norm.ppf](https://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.stats.norm.html#scipy-stats-norm) (percentage probability function, inverse of cumulative probability function)

In [12]:
norm.ppf((1-0.05), loc=mu, scale=sigma)

373.36402202136043

### Part 3
0 points possible (ungraded)
You want to be even surer that you do not run out of bagels! How many bagels do you need to prepare to have only 1% probability of running out?

In [13]:
norm.ppf((1-0.01), loc=mu, scale=sigma)

424.47609055306305

## PP2: Three Month Salary Stores
 Bookmark this page
Practice Problem 2: Three Month Salary Stores
3-Month Salary (3MS) is a high-end retailer of engagement rings for the Greater Boston Region. They carry around 75 different types of engagement ring mountings and 25 different types of diamonds, for a total of 100 SKUs. They have traditionally kept their inventory in a vault in their flagship store in downtown Boston. However, as real estate prices rise and their sales volume increases, they are considering moving the safety inventory of all but the most profitable SKUs to a safe warehouse in the nearby town of Watertown, where real estate is somewhat cheaper. The company has decided to implement an ABC segmentation of their SKUs, and it has asked for your help.

The company has decided to do this segmentation based on profitability: type A products are those that are most profitable, bringing the retailer a 34% of its monthly profit; type B products are those that bring the next 37% of the profit; and type C are the rest. In the linked file (w1pp3_sku3ms.xls), you will find the information you need regarding the monthly sales per SKU, along with their price and cost.

### Part 1
0 points possible (ungraded)
What is the least profitable of the type A products? Please, write down its SKU in the answer box.

In [19]:
data = pd.read_excel('w1pp3_sku3ms.xls', names= ['sku', 'cost', 'unit_price', 'avg_units_sold_monthly'])

In [59]:
data['profit'] = (data['unit_price'] - data['cost'])  * data['avg_units_sold_monthly']
data.sort_values(by=['profit'], ascending=False, inplace=True)

In [60]:
data['profit_cumsum'] = data['profit'].cumsum()
data['profit_percent'] = data['profit_cumsum'] / data['profit'].sum()

def categorize(pp):
    '''
    pp: profit_percent: 
    typeA: <=34%, 
    typeB: >34% & <=(34+37)%
    typeC: > (34+37)%
    '''
    if pp <= 0.34:
        return 'A'
    elif pp <= 0.34+0.37:
        return 'B'
    else: 
        return 'C'
    
data['type'] = data['profit_percent'].apply(categorize)

In [63]:
data[data['type'] == 'A'].tail(n=1)

,sku,cost,unit_price,avg_units_sold_monthly,sales,profit,profit_cumsum,profit_percent,type
12,SKU-3MS-559570,1003.82,2192.81,10.0,21928.1,11889.9,202023.038,0.337306,A

### Part 2
0 points possible (ungraded)
What type of product is SKU-3MS-507011?

In [64]:
data[data['sku'] == 'SKU-3MS-507011']

,sku,cost,unit_price,avg_units_sold_monthly,sales,profit,profit_cumsum,profit_percent,type
28,SKU-3MS-507011,845.18,1905.95,7.3,13913.435,7743.621,355427.201,0.593436,B

## PP3: Cakes at the Bagel Shop
 Bookmark this page

Practice Problem 3: Cakes at the Bagel shop

At the bagel shop, you have some cakes that you sell that are pretty slow movers.  The chocolate cake, for example, only sells on average 2.5 cakes per week.  You have noticed that the demand follows a Poisson distribution. 

### Part 1
0 points possible (ungraded)
What is the probability that you will sell more than 3 cakes in a week?

I am too lazy to hand calculate, use the built in package from [scipy.stats.poisson](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.poisson.html)


"A probability mass function differs from a probability density function (pdf) in that the latter is associated with continuous rather than discrete random variables; the values of the probability density function are not probabilities as such: a pdf must be integrated over an interval to yield a probability." - Wikipedia

In [68]:
k = 3
mu = 2.5
1- scipy.stats.poisson.cdf(k, mu)

0.24242386686693385

### Part 2
0 points possible (ungraded)

(Enter your solution as a probability between 0 and 1 rather than as a percentage)
What is the probability that you will sell no cakes in a week?

In [69]:
scipy.stats.poisson.cdf(0, mu)

0.0820849986238988

### Part 3
0 points possible (ungraded)

Suppose you have 5 cakes made ready to sell. What is the probability that you will sell out?

In [93]:
p = 0
for i in range(1, 7):
    if i <= 5:
        prob = scipy.stats.poisson.pmf(i, mu)
        p += prob
    print(i, prob)
  
print('>>>', 1- p)

1 0.20521249656
2 0.2565156207
3 0.21376301725
4 0.133601885781
5 0.0668009428905
6 0.0668009428905
>>> 0.124106036819

## PP4: Zaragoza Auto Supply
 Bookmark this page
 
Practice Problem 4: Zaragoza Auto Supply
The Zaragoza Auto Supply (ZAS) company is located in Zaragoza Spain near the largest logistics hub in Europe (PLAZA) and one of the largest automobile manufacturing plants.  ZAS provides replacement parts to various auto repair dealerships across the state of Aragon and beyond.  The company has historically managed all of its parts in an identical fashion.  However, a recent graduate of the Zaragoza Logistics Center (ZLC) Master's Program has been hired to manage the supply chain.  She believes that the parts should be segmented and has asked you to run an ABC analysis on a sample of 50 of ZAS's parts.

In the linked file (w1pp6_ZaragozaAutoSupply_Data.xls), you will find the information you need regarding the weekly sales volume, weekly sales standard deviation, unit cost, and unit sales price for each SKU.  All currencies are in Euros.

Please enter all your numerical answers with at least 4 significant figures.

### Part 1
0 points possible (ungraded)

Let's start by getting comfortable with the data set. Which SKU has the highest average weekly cost?

In [100]:
data = pd.read_excel('w1pp6_ZaragozaAutoSupply_Data.xls', 
                     names=['sku','avg_weekly_sales', 'std_weekly_sales', 'cost', 'price'])
data.head()

     sku  avg_weekly_sales  std_weekly_sales    cost   price
0    A48               172             41.29   27.73   38.35
1  AA872                33              8.81   73.44   83.62
2   B842                 8              2.94  110.40  186.35
3  BB806                48              4.04   55.00   75.04
4   C161                 3              0.95   60.60   98.67

In [101]:
data['average_weekly_cost'] = data['avg_weekly_sales'] * data['cost']

In [103]:
data[data['average_weekly_cost'] == data['average_weekly_cost'].max()]

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost
17,II762,117,4.06,49.92,52.53,5840.64

### Part 2
0 points possible (ungraded)

Which SKU has the highest average weekly revenue? Weekly revenue is defined as AverageWeeklySales*UnitSalesPrice

In [104]:
data['average_weekly_revenue'] = data['avg_weekly_sales'] * data['price']
data[data['average_weekly_revenue'] == data['average_weekly_revenue'].max()]

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost,average_weekly_revenue
20,K261,212,113.95,23.76,40.11,5037.12,8503.32

### Part 3
0 points possible (ungraded)

Which SKU has the highest percent profit margin (profit/cost) per unit?

In [106]:
data['percent_profit_margin'] = (data['price'] - data['cost'] )/ data['cost']
data[data['percent_profit_margin'] == data['percent_profit_margin'].max()]

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost,average_weekly_revenue,percent_profit_margin
32,Q61,4,1.15,78.4,139.4,313.6,557.6,0.778061

### Part 4
0 points possible (ungraded)

Which SKU has the highest average weekly profit? Profit is defined as AverageWeeklySales*(UnitSalesPrice-UnitCost)

In [107]:
data['average_weekly_profit'] = data['average_weekly_revenue'] - data['average_weekly_cost']
data[data['average_weekly_profit'] == data['average_weekly_profit'].max()]

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost,average_weekly_revenue,percent_profit_margin,average_weekly_profit
20,K261,212,113.95,23.76,40.11,5037.12,8503.32,0.688131,3466.2

### Part 5
0 points possible (ungraded)

Which SKU has the most volatile demand in terms of coefficient of variation? The coefficient of variation is defined as CV=σμ.

In [111]:
data['cv'] = data['std_weekly_sales'] / data['avg_weekly_sales']
data[data['cv'] == data['cv'].max()]

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost,average_weekly_revenue,percent_profit_margin,average_weekly_profit,cv
22,L977,4,7.23,53.02,72.32,212.08,289.28,0.364014,77.2,1.8075

### Part 6
0 points possible (ungraded)

You want to get a handle on how the A items might be distributed by total weekly profitability.

What percentage of the total profit is contributed by the top 20% of the 50 SKUs (by profit)? Just enter a value and do not include the % sign. For example, if you think the value is 35.5%, just enter 35.5:

In [125]:
data.sort_values(by=['average_weekly_profit'], ascending=False, inplace=True)
top_20 = data[:int(data.shape[0]*0.2)]
top_20['average_weekly_profit'].sum() / data['average_weekly_profit'].sum()

0.7343084300023995

What percentage of the total profit is contributed by the bottom 50% of the 50 SKUs, by profitability? Just enter the value and do not include the % sign.

In [124]:
idx = int(data.shape[0]*0.5)
bot_50 = data[idx:]
bot_50['average_weekly_profit'].sum() / data['average_weekly_profit'].sum()

0.07176381949743098

### Part 7
0 points possible (ungraded)

You believe that the fast moving, highly volatile SKUs should be managed separately with more time spent on improving the forecasting capabilities. You select the criteria for fast moving to be selling 50 or more units per week and the criteria for highly volatile as having a CV greater than or equal to 0.50. Note.

What percentage of the total profit is contributed by these Fast Moving AND Highly Volatile SKUs (both criteria satisfied)? Just enter a value and do not include the % sign. For example, if you think the value is 35.5%, just enter 35.5:

In [129]:
data.head()

,sku,avg_weekly_sales,std_weekly_sales,cost,price,average_weekly_cost,average_weekly_revenue,percent_profit_margin,average_weekly_profit,cv
20,K261,212,113.95,23.76,40.11,5037.12,8503.32,0.688131,3466.20,0.537500
35,RR621,100,33.38,28.20,47.59,2820.00,4759.00,0.687589,1939.00,0.333800
40,UU885,60,65.00,57.98,88.96,3478.80,5337.60,0.534322,1858.80,1.083333
10,F948,15,4.52,160.50,283.43,2407.50,4251.45,0.765919,1843.95,0.301333
0,A48,172,41.29,27.73,38.35,4769.56,6596.20,0.382979,1826.64,0.240058

In [130]:
flag_fast_moving = (data['avg_weekly_sales'] >= 50)
flag_high_volatile = (data['cv'] >= 0.5)
num = data[flag_fast_moving & flag_high_volatile]['average_weekly_profit'].sum()
den = data['average_weekly_profit'].sum()
num/den

0.3272584973701894

## PP5: Forecasting Ordroid Demand
 Bookmark this page
 
Practice Problem 5: Forecasting Ordroid Devices
You have just been hired by a company that manufactures mid-range communication devices that use the Ordroid open source operating system.  The company is focused on innovating its products and has not put much thought on its inventory or forecasting capabilities.   Your boss thinks there might be a problem in the forecasting of the Ordroid Devices and wants you to figure it out.  The Ordroid, far from being new to the market, has been out for two years. 

Knowing this, you have asked for data on both years of historical sales as well as any forecasts, promotions, pricing changes, or competitive analyses made during this time.  Your boss laughs and provides you with all the data they have: the last six months of sales.  You ask to meet with the current demand planner for the Ordroid Devices and she tells you that they use a forecasting algorithm of her own design and there is no documentation.  

Download the spreadsheets with the data here:

In Excel format (link to Ordroid_Data.xlsx)

In LibreOffice format (link Ordroid_Data.ods)

In [135]:
data = pd.read_excel('Ordroid_Data.xlsx', names=['month', 'actual', 'forecast'])
data.head()

       month  actual  forecast
0        May    1509      1900
1       June    1610      1200
2       July    1708      2100
3     August    1866      1300
4  September    2092      2500

### Part 1
0 points possible (ungraded)

As a first step, you want to calculate some different performance metrics for the small data sample. Recall that the definition of the error term is the Actual demand minus the Forecasted demand.

What is the mean deviation of the forecasts in this data sample?

In [138]:
data['error'] = data['actual'] - data['forecast']
mean_deviation = data['error'].mean()
mean_deviation

112.5

### Part 2
0 points possible (ungraded)

What is the mean absolute deviation (MAD) of the forecasts in this data sample?

In [140]:
import numpy as np
mean_absolute_devication = np.abs(data['error']).mean()
mean_absolute_devication

509.5

### Part 3
0 points possible (ungraded)

What is the root mean square error (RMSE) of the forecasts in this data sample?

In [143]:
root_mean_squared_error = np.sqrt((data['error']**2).sum() / len(data['error']))
root_mean_squared_error

540.61153644121703

### Part 4
0 points possible (ungraded)

What is the mean percent error (MPE) of the forecasts in this data sample? Just enter the number and not the percentage sign, e.g., for 19.7% enter 19.7.

In [145]:
mean_percent_error = (data['error'] / data['actual']).mean()
mean_percent_error

0.04111951090720982

### Part 5
0 points possible (ungraded)

What is the mean absolute percent error (MAPE) of the forecasts in this data sample? Just enter the number and not the percentage sign, e.g., for 19.7% enter 19.7.

In [147]:
mean_absolute_percent_error = (np.abs(data['error'] / data['actual'])).mean()
mean_absolute_percent_error

0.2690024682765844